{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Le Blog de Batman</h1>
        </div>

        <div class="row">

            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur</h2>

            <p class="col-12 col-md-10 offset-md-1 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ipsam nesciunt omnis porro quaerat quos tempore temporibus voluptatum. Blanditiis ipsam porro sapiente!
                Explicabo modi odit soluta. Amet, culpa ducimus enim est eum explicabo fugiat illum ipsum iste maxime non omnis.
                sapiente suscipit totam unde voluptate voluptatum? Aspernatur ratione recusandae temporibus voluptatibus?</p>

        </div>

        {# Affichage de l'image fixe en bandeau #}
        <div class="batman-cover row my-5"></div>

    </div>

{% endblock %}
